@import url('https://fonts.cdnfonts.com/css/nunito-sans');
@import url('https://fonts.cdnfonts.com/css/Yeseva-One');
.boby{
    margin: 0;
    font-family: Nunito Sans;
}

.boby{
    box-sizing: border-box;
}
.hero{
    background-color: black;
    width: 1440px;
    height: 783px;

}
.hero-container{
    display: flex;
    justify-content: space-between;
    height: 24px;
    width: 1440px;
    float: left;
}

/*.hero-overlay{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba (0, 0, 0, .7);
}*/

.title_navigation{
    list-style: none;
    display: flex;
}

.title_navigation_item{
    font-family: Yeseva One;
    color: rgba(255, 255, 255, 0.30);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 16.318px;
    flex-shrink: 0;
    text-align: left; 
    list-style-type: none;
    float: right;
}

.title_navigation_item{
    margin-left: 60.5px;
}

.title_navigation_item a{
    text-decoration: none;
    color:  rgba(255, 255, 255, 0.30);
}
.title-navigation_item_1_1{
    margin-left: 60.5px;
}
.title_navigation_item_1_1 a{
    text-decoration: underline;
    color: #E3B873;
}
.title_navigation_item_1_1{
    font-family: Yeseva One;
    color: #E3B873;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.404px;
    height: 16.318px;
    flex-shrink: 0;
    text-align: left;
    list-style-type: none; 
    padding-left: 66px;
    float: right;
}
.title_navigation_item_1{
    font-family: Yeseva One;
    color: #E3B873;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.404px;
    height: 16.318px;
    flex-shrink: 0;
    text-align: left;
    list-style-type: none; 
    padding-left: 626px;
    float: right;
}
.title-navigation_item_1{
    margin-left: 60.5px;
}
.title_navigation_item_1 a{
    text-decoration: underline;
    color: #E3B873;
}
.title-navigation_item_1_2{
    margin-left: 60.5px;
}
.title_navigation_item_1_2 a{
    text-decoration: underline;
    color: #E3B873;
}
.title_navigation_item_1_2{
    font-family: Yeseva One;
    color: #E3B873;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.404px;
    height: 16.318px;
    flex-shrink: 0;
    text-align: left;
    list-style-type: none; 
    padding-left: 66px;
    float: right;
}
.title_navigation_item_2{
    font-family: Yeseva One;
    color: rgba(255, 255, 255, 0.30);
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    height: 16.318px;
    flex-shrink: 0;
    text-align: right; 
    list-style-type: none;
    float: right;
}

.title_navigation_item_2{
    margin-left: 620.5px;
}

.title_navigation_item_2 a{
    text-decoration: none;
    color:  rgba(255, 255, 255, 0.30);
}
.title_navigation_item_2_1{
    font-family: Yeseva One;
    color: rgba(255, 255, 255, 0.30);
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    height: 16.318px;
    flex-shrink: 0;
    text-align: right; 
    list-style-type: none;
    float: right;
}

.title_navigation_item_2_1{
    margin-left: 620.5px;
}

.title_navigation_item_2_1 a{
    text-decoration: none;
    color:  rgba(255, 255, 255, 0.30);
}
.title_navigation_item_3{
    font-family: Yeseva One;
    color: rgba(255, 255, 255, 0.30);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 16.318px;
    flex-shrink: 0;
    text-align: left; 
    list-style-type: none;
    float: right;
}

.title_navigation_item_3{
    margin-left: 60.5px;
}

.title_navigation_item_3 a{
    text-decoration: none;
    color:  rgba(255, 255, 255, 0.30);
}
.image_right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 679px;
    height: 482px;
    flex-shrink: 0;
    margin-right: 100.55px;
    margin-top: 76px;
    margin-bottom: 416px;
    margin-left: -626.45px;
}

.title_color_drawing_2_1{
    display: flex;
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.422px;
    letter-spacing: -1.89px;
    text-transform: uppercase;
    width: 253px;
    height: 66px;
    flex-shrink: 0;
    padding-left: 134.45px;
    padding-top: 70.36px;
    padding-bottom: 831.64px;
    padding-right: 1052.55px;
}

.title_color_drawing_2_2{
    display: flex;
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.96%;
    width: 442px;
    height: 86px;
    flex-shrink: 0;
    margin-left: 134.45px;
    margin-top: -829.55px;
}

.container hero-container_3{
    width: 442px;
    height: 390px;
}

.title_color_drawing_3_1{
    display: flex;
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
    width: 66px;
    height: 22px;
    flex-shrink: 0;
    margin-left: 134.45px;
    margin-top: 42px;
}

.title_color_drawing_3_2{
    display: flex;
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
    width: 213px;
    height: 22px;
    flex-shrink: 0;
    margin-left: 324.45px;
    margin-top: -38px;
}

.title_color_drawing_3_3{
    display: flex;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    width: 161px;
    height: 42px;
    flex-shrink: 0;
    margin-left: 134.45px;
    margin-top: 9px;
}
.title_color_drawing_3_4{
    display: flex;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    width: 51px;
    height: 21px;
    flex-shrink: 0;
    margin-left: 324.45px;
    margin-top: -55px;
}

.title_color_drawing_3_5{
    display: flex;
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
    width: 156px;
    height: 22px;
    flex-shrink: 0;
    margin-left: 134.45px;
    margin-top: 52px;
}

.title_color_drawing_3_6{
    display: flex;
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
    width: 218px;
    height: 22px;
    flex-shrink: 0;
    margin-left: 324.45px;
    margin-top: -38px;
}

.title_color_drawing_3_7{
    display: flex;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    width: 103px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 134.45px;
    margin-top: 9px;
}
.title_color_drawing_3_8{
    display: flex;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    width: 115px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 324.45px;
    margin-top: -36px;
}
.navigation-line{
    align-items: center;
    justify-content: space-around;
    padding-right: 1098.87px;
    padding-top: 79.64px;
    padding-bottom: 414.72px;
    margin-left: 135.45px;
}
.arrowl {
    list-style: none;
    display: flex;
    width: 0;
    height: 0;
    list-style: none;
    text-decoration: none!important;
    border: none !important;

  }
  
  .arrowl::after {
    content: '\2190';
    color: white;
    border: 12px; 
    font-size: 37px;
    padding-right: 198.87px;
    padding-top: 60.64px;
    padding-bottom: 414.72px;
    margin-left: 135.45px;
    list-style: none;
    text-decoration: none!important;
    border: none !important;

  }
.arrow {
    display: flex;
    width: 0;
    height: 0;
    padding-right: 1598.87px;
    padding-top: 30.64px;
    padding-bottom: 414.72px;
    margin-left: 150.45px;
    list-style: none;
    text-decoration: none!important;
    border: none !important;

  } 
  
  .arrow::after {
    content: '\2192';
    color: #FFF;
    border: 12px; 
    font-size: 37px;
  }

.circle{
    display: flex;
    width: 0;
    height: 0; 
}

.circle::after {
    content: '\2022';
    color: white;
    border: 12px; 
    font-size: 37px;
    padding-right: 198.87px;
    padding-top: 63.64px;
    padding-bottom: 414.72px;
    margin-left: 195.45px;

  }
.filled{
    display: flex;
    width: 0;
    height: 0; 
}
.filled::after {
    content: '\2022';
    color: grey;
    border: 12px; 
    font-size: 37px;
    padding-right: 398.87px;
    padding-top: 63.64px;
    padding-bottom: 414.72px;
    margin-left: 230.45px;
}

.fill{
    display: flex;
    width: 0;
    height: 0; 
}
.fill::after {
    content: '\2022';
    color: grey;
    border: 12px; 
    font-size: 37px;
    padding-right: 398.87px;
    padding-top: 63.64px;
    padding-bottom: 414.72px;
    margin-left: 265.45px;
}
.circle_1{
    display: flex;
    width: 0;
    height: 0; 
}

.circle_1::after {
    content: '\2022';
    color: grey;
    border: 12px; 
    font-size: 37px;
    padding-right: 198.87px;
    padding-top: 63.64px;
    padding-bottom: 414.72px;
    margin-left: 195.45px;

  }
.filled_1{
    display: flex;
    width: 0;
    height: 0; 
}
.filled_1::after {
    content: '\2022';
    color: white;
    border: 12px; 
    font-size: 37px;
    padding-right: 398.87px;
    padding-top: 63.64px;
    padding-bottom: 414.72px;
    margin-left: 230.45px;
}
.fill_1{
    display: flex;
    width: 0;
    height: 0; 
}
.fill_1::after {
    content: '\2022';
    color: grey;
    border: 12px; 
    font-size: 37px;
    padding-right: 398.87px;
    padding-top: 63.64px;
    padding-bottom: 414.72px;
    margin-left: 265.45px;
}
.circle_2{
    display: flex;
    width: 0;
    height: 0; 
}

.circle_2::after {
    content: '\2022';
    color: grey;
    border: 12px; 
    font-size: 37px;
    padding-right: 198.87px;
    padding-top: 63.64px;
    padding-bottom: 414.72px;
    margin-left: 195.45px;

  }
.filled_2{
    display: flex;
    width: 0;
    height: 0; 
}
.filled_2::after {
    content: '\2022';
    color: grey;
    border: 12px; 
    font-size: 37px;
    padding-right: 398.87px;
    padding-top: 63.64px;
    padding-bottom: 414.72px;
    margin-left: 230.45px;
}
.fill_2{
    display: flex;
    width: 0;
    height: 0; 
}
.fill_2::after {
    content: '\2022';
    color: white;
    border: 12px; 
    font-size: 37px;
    padding-right: 398.87px;
    padding-top: 63.64px;
    padding-bottom: 414.72px;
    margin-left: 265.45px;
}

 